.flex-container {
  display: flex;
  width: 70%;
  height: 5em;
  margin: auto;
  justify-content: flex-end;
  align-items: center;
}

.yearSelector {
  margin: 10px;
  width: 100px;
  height: 2em;
  padding: 1px;
  position: relative;
  border-radius: 5px;
  text-align-last: center;
}

.selectLabel {
  margin: auto, 1em;
  padding: 0;
  height: 2em;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  min-width: 30px;
}

.standingTable {
  max-width: 70%;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 1em;
  font-size: 0.5rem;
  min-width: 370px;
  background-color: aliceblue;
}

@media (max-width: 568px) {
  .flex-container {
    margin-top: 0.5em;
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .yearSelector {
    width: 90%;
    margin: 5px 5%;
  }
}
