.statsTable {
  max-width: 80%;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 1em;
  font-size: 0.5rem;
  min-width: 1200px;
  background-color: aliceblue;
}

.statsTable th {
  cursor: pointer;
}

.statsTable tr {
  cursor: default;
}

.selected {
  color: brown;
}

.typeButton {
  margin: 0.2em;
  color: azure;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  height: 2em;
  width: 90px;
  border-radius: 5px;
}

.typeButton:hover {
  background-color: brown;
}

.selectedType {
  background-color: brown;
  margin: 0.2em;
  color: azure;
  border: none;
  height: 2em;
  width: 90px;
  border-radius: 5px;
}

.flex-container {
  display: flex;
  width: 80%;
  height: 5em;
  margin: auto;
  justify-content: flex-end;
  align-items: center;
}

.statsSelector {
  margin: 10px;
  width: 100px;
  height: 2em;
  padding: 1px;
  position: relative;
  border-radius: 5px;
  text-align-last: center;
}

.selectLabel {
  margin: auto, 1em;
  padding: auto;
  height: 2em;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
}
