.statsForm {
  margin: 1em;
}

.statsType {
  top: 5%;
  float: right;
  right: -80%;
  margin-right: 5%;
}

.typeButton {
  margin: 0.2em;
  color: azure;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  height: 2em;
  width: 90px;
  border-radius: 5px;
}

.typeButton:hover {
  background-color: brown;
}

.selectedType {
  background-color: brown;
  margin: 0.2em;
  color: azure;
  border: none;
  height: 2em;
  width: 90px;
  border-radius: 5px;
}

table {
  background-color: aliceblue;
}
